.header {
    background-color: #20232a;
    text-align: center;
    height: 80px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: left;
}

.title {
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0 10px;
}